# **Update Project Notebook**

The purpose of this notebook is to be run every month to update our datasets with the last reviews published, and get reviews for the new companies we want to study.

## **0) Imports**

In [1]:
!git clone https://github.com/pentagramswheel/DataX15.git

import sys
root_path = 'DataX15/Final Project/'
sys.path.append(root_path + 'run-to-update')
sys.path.append(root_path + 'topic-detection')

!pip install transformers
import pandas as pd
import numpy as np
import json
import notebook_script
import social_classification

Cloning into 'DataX15'...
remote: Enumerating objects: 217, done.
remote: Counting objects: 100% (217/217), done.
remote: Compressing objects: 100% (171/171), done.
remote: Total 217 (delta 104), reused 74 (delta 35), pack-reused 0
Receiving objects: 100% (217/217), 6.11 MiB | 3.70 MiB/s, done.
Resolving deltas: 100% (104/104), done.
Collecting transformers
  Downloading transformers-4.12.5-py3-none-any.whl (3.1 MB)
     |████████████████████████████████| 3.1 MB 5.1 MB/s
Collecting huggingface-hub<1.0,>=0.1.0
  Downloading huggingface_hub-0.2.0-py3-none-any.whl (61 kB)
     |████████████████████████████████| 61 kB 439 kB/s
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.8.2)
Collecting pyyaml>=5.1
  Downloading PyYAML-6.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (596 kB)
     |████████████████████████████████| 596 kB 55.8 MB/s
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (21.3)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.19.5)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.62.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.4.0)
Collecting sacremoses
  Downloading sacremoses-0.0.46-py3-none-any.whl (895 kB)
     |████████████████████████████████| 895 kB 56.9 MB/s
Collecting tokenizers<0.11,>=0.10.1
  Downloading tokenizers-0.10.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (3.3 MB)
     |████████████████████████████████| 3.3 MB 29.5 MB/s
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.1.0->transformers) (3.10.0.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers) (3.0.6)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.6.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2021.10.8)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.1.0)
Installing collected packages: pyyaml, tokenizers, sacremoses, huggingface-hub, transformers
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
Successfully installed huggingface-hub-0.2.0 pyyaml-6.0 sacremoses-0.0.46 tokenizers-0.10.3 transformers-4.12.5
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In order to run the scraper you will need to get connected to your Glassdoor account. Please upload a secret.json file into the run-to-update subfolder: {"username": your_username, "password": your_password}

or use the create_credentials() function.

In [ ]:
your_username = 'put_your_glassdoor_username'
your_password = 'put_your_glassdoor_password' # cybersecurity <3
notebook_script.create_credentials(your_username, your_password, root_path)

## **1) Open data**

In [2]:
companies = pd.read_csv(root_path + 'datasets/studied_companies.csv', sep = ';')
all_reviews = pd.read_csv(root_path + 'datasets/all_reviews.csv', sep = ';')

display(companies.head())
display(all_reviews.head())

          Company  ... Latest review
0          Aramco  ...    2021-10-22
1              BP  ...    2021-10-16
2         Chevron  ...    2021-10-15
3  ConocoPhillips  ...    2021-10-26
4             DTE  ...    2021-10-20

[5 rows x 3 columns]

      Company        date  ... score_pros score_cons
0  ExxonMobil  2021-05-18  ...     0.9509    -0.8689
1  ExxonMobil  2021-09-04  ...     0.3182    -0.6486
2  ExxonMobil  2021-10-16  ...     0.8553    -0.9305
3  ExxonMobil  2021-10-15  ...     0.7715    -0.9072
4  ExxonMobil  2021-10-13  ...     0.7003    -0.7184

[5 rows x 9 columns]

## **2) Update existing reviews datasets**

In [3]:
notebook_script.update_reviews_studied_companies()

## **3) Get new companies' reviews**

This sections enables getting reviews for new companies we don't have yet in our datasets.

In [4]:
min_date = '2021-12-01' # Select the date from which you want reviews for the new companies
notebook_script.get_reviews_new_companies(min_date)

'Done'

## **4) Update all_reviews.csv file (gather reviews, classification and sentiment)**

In [5]:
all_reviews = notebook_script.assemble_all_reviews(root_path) # assemble all the reviews, clean them and save them in all_reviews.csv
display(all_reviews.head())

  Company  ...                                               cons
0   Shell  ...  Process stifles progress. Uncertain future str...
1   Shell  ...  Don't have any cons at the moment.. Be the fir...
2   Shell  ...  some customers are very rude' but thats anywhe...
3   Shell  ...  Bureaucracy. Slow to change. Hard to find info...
4   Shell  ...  was tiring, alot to do, and was time consuming...

[5 rows x 7 columns]

In [6]:
all_reviews = notebook_script.predict_sentiment(all_reviews) # predicts 'pros' and 'cons' sentiment and saves the updated all_reviews.csv
display(all_reviews.head())

  Company        date  ... score_pros score_cons
0   Shell  2021-10-22  ...  49.593538  -8.705231
1   Shell  2021-10-19  ...  69.113963 -10.462674
2   Shell  2021-10-17  ...  59.190143  -7.178357
3   Shell  2021-10-14  ...  69.113963 -11.881949
4   Shell  2021-10-12  ...  92.111049 -10.462674

[5 rows x 9 columns]

#### **1. BERT predictions**

In [7]:
# CAREFUL! This cell is excessively long to run, even for one call of predict_social_classification() in the loop
# Please try it with overwrite = False, only one nature_review element and one Social_criteria element, and on all_reviews.head().copy() to see it run


run_this_cell = False # True if you really want to run this code
overwrite = False # will overwrite the file all_reviews_S.csv containing all the social predictions

if run_this_cell:
  nature_review = ['pros', 'cons']

  Social_criteria = ['Insurance', 'Safety', 'Balance',
        'Retirement', 'Racism', 'Sexism', 'Ageism',
        'Benefits', 'Resources', 'Opportunities', 'Privacy',
        'Culture']

  all_reviews_S = all_reviews.copy() #.head() for test

  for nature in nature_review:
    for criteria in Social_criteria:
      all_reviews_S = social_classification.predict_class(all_reviews_S, criteria, nature, root_path)

  if overwrite:
    all_reviews_S.to_csv(root_path + 'datasets/all_reviews_S.csv', index = False, sep = ';')
  display(all_reviews_S)

#### **2. Keywords predictions**

In [15]:
with open(root_path + 'topic-detection/social-models/social_keywords.json') as data_file:
  social_keywords = json.load(data_file)

print(social_keywords)

all_reviews_S = notebook_script.keywords_topic_detection(all_reviews, social_keywords)
display(all_reviews_S.head())

{'insurance': ['insur', 'health', 'coverage', 'sick', 'medical'], 'safety': ['safe', 'drug', 'alcohol', 'violence', 'violent', 'hazard', 'working conditions'], 'balance': ['work life balance', 'worklife balance', 'work-life balance', 'work/life balance', 'work and life balance', 'burnout', 'burn out', 'stress', 'time management'], 'retirement': ['retire', '10-99R', 'saving', 'long-term', 'long term'], 'culture': ['culture', 'people', 'colleague', 'value', 'trust', 'atmosphere', 'collaborat'], 'racism': ['racis', 'my race', 'his race', 'her race', 'their race', 'prejudice', 'racial', 'black', 'white', 'indian', 'Indian', 'asian', 'Asian', 'minorit'], 'sexism': ['gender', 'male', 'female'], 'ageism': ['age', 'retire'], 'benefits': ['benefit', 'cash', 'pay', 'compensat', 'salar', 'time off', 'day off', 'days off', 'bonus'], 'opportunities': ['opportunit', 'project', 'collaborat', 'grow', 'skill', 'advanc', 'dream'], 'privacy': ['priva', 'personal', 'bag', 'clothe'], 'resources': ['resource', 'train', 'benefit', 'skill', 'learn', 'mentor', 'coach']}

  Company        date  ... resources_pros resources_cons
0   Shell  2021-10-22  ...              0              0
1   Shell  2021-10-19  ...              0              0
2   Shell  2021-10-17  ...              0              0
3   Shell  2021-10-14  ...              1              0
4   Shell  2021-10-12  ...              0              0

[5 rows x 33 columns]

## **5) Update Tableau input**

In [16]:
all_reviews_S = pd.read_csv(root_path + 'datasets/all_reviews_S.csv', sep = ';')
display(all_reviews_S.head())

  Company        date  ... resources_pros resources_cons
0   Shell  2021-10-22  ...              0              0
1   Shell  2021-10-19  ...              0              0
2   Shell  2021-10-17  ...              0              0
3   Shell  2021-10-14  ...              1              0
4   Shell  2021-10-12  ...              0              0

[5 rows x 33 columns]

#### **1. Table, Bar and 2x2 Tableau dashboards input**

In [17]:
Social_criteria = ['Insurance', 'Safety', 'Balance',
       'Retirement', 'Racism', 'Sexism', 'Ageism',
       'Benefits', 'Resources', 'Opportunities', 'Privacy',
       'Culture']

aggregated_social_scores = notebook_script.aggregate_company_results(all_reviews_S, Social_criteria)
display(aggregated_social_scores.head())

Tableau_input_general, Tableau_input_pros, Tableau_input_cons = notebook_script.generate_tableau_inputs(aggregated_social_scores, Social_criteria, root_path)
display(Tableau_input_general.head())

              Insurance_mean  ...  Total_cons_count
Shell                     31  ...               610
PG&E                      68  ...               377
DTE                       18  ...               189
Phillips 66               23  ...               249
Schlumberger              64  ...               989

[5 rows x 78 columns]

  Company Criteria 1  Score 1  Count 1  Criteria 2  Score 2  Count 2  Rank
0   Shell  Insurance       31       21   Insurance       31       21     1
1   Shell  Insurance       31       21      Safety      100       30     1
2   Shell  Insurance       31       21     Balance       87       89     1
3   Shell  Insurance       31       21  Retirement        7       10     1
4   Shell  Insurance       31       21      Racism        0        9     1

#### **2. Timeline Tableau dashboards input**

In [19]:
Tableau_timeline_S = notebook_script.generate_tableau_timeline(all_reviews_S, root_path)
display(Tableau_timeline_S.head())

    Company  ...   Criteria
42    Shell  ...  Insurance
117   Shell  ...  Insurance
127   Shell  ...  Insurance
159   Shell  ...  Insurance
190   Shell  ...  Insurance

[5 rows x 5 columns]

## **6) Push the work to git repo**

In [ ]:
!git push https://github.com/pentagramswheel/DataX15.git Final Project:origin master